{% set _balance = total_balance %}
{% set _withdraw_amount = withdraw_amount %}
{% set _deposit_amount = deposit_amount %}
{% set _currency = app.user.currency_code %}

 {% set _accounts = app.user.accounts %}
 {% set _userInfos = app.user.userInfos %}

{#  {%
        set _accounts = [
            {
            'id': 12,
            'name': 'Default',
            'balance': '250000',
            'description': 'The DatiCash Default Account'
            },
            {
            'id': 14,
            'name': 'Easy School',
            'balance': '122000',
            'description': 'My School application account.'
            },
        ] 
    %}  #}

 {% set _categories = app.session.get('services') %}

{# {% set _categories = [
  {
    "id": 1,
    "label": "Money transfer",
    "description": "Money sending and receiving services",
    "services": [
      {
        "id": 1,
        "label": "Send Money",
        "trans": [
          {
            "id": 2,
            "carreer": {
              "id": 2,
              "countries": [
                "CM"
              ]
            },
            "description": "Orange deposit"
          },
          {
            "id": 5,
            "carreer": {
              "id": 1,
              "countries": [
                "CM"
              ]
            },
            "description": "mtn deposit - send money to any MTN CM mobile money account"
          }
        ]
      },
      {
        "id": 2,
        "label": "Receive Money",
        "trans": [
          {
            "id": 1,
            "carreer": {
              "id": 2,
              "countries": [
                "CM"
              ]
            },
            "description": "Orange Withdraw - retrieve money from any orange money account"
          },
          {
            "id": 4,
            "carreer": {
              "id": 1,
              "countries": [
                "CM"
              ]
            },
            "description": "mtn Withdraw - retrieve money from any MTN mobile money account"
          }
        ]
      }
    ]
  },
  {
    "id": 2,
    "label": "Telephone plans",
    "description": "airtime & internet bundles",
    "services": [
      {
        "id": 3,
        "label": "900xaf week call + 30 SMS",
        "trans": [
          {
            "id": 13,
            "carreer": {
              "id": 1,
              "countries": [
                "CM"
              ]
            },
            "description": "MTN Forfait Appels 900frs+30SMS Semaine"
          }
        ]
      },
      {
        "id": 4,
        "label": "3000xaf week call + 100 SMS",
        "trans": [
          {
            "id": 14,
            "carreer": {
              "id": 1,
              "countries": [
                "CM"
              ]
            },
            "description": "MTN Forfait Appels 3000frs+100SMS Semaine"
          }
        ]
      },
      {
        "id": 5,
        "label": "3Go week internet",
        "trans": [
          {
            "id": 11,
            "carreer": {
              "id": 1,
              "countries": [
                "CM"
              ]
            },
            "description": "MTN Forfait Internet 3Go Semaine"
          }
        ]
      },
      {
        "id": 6,
        "label": "750Mo week internet",
        "trans": [
          {
            "id": 12,
            "carreer": {
              "id": 1,
              "countries": [
                "CM"
              ]
            },
            "description": "MTN Forfait Internet 750Mo Semaine"
          }
        ]
      },
      {
        "id": 7,
        "label": "30J unlimited SMS",
        "trans": [
          {
            "id": 9,
            "carreer": {
              "id": 1,
              "countries": [
                "CM"
              ]
            },
            "description": "mtn forfait SMS illimite 30J"
          }
        ]
      },
      {
        "id": 8,
        "label": "24h unlimited SMS",
        "trans": [
          {
            "id": 10,
            "carreer": {
              "id": 1,
              "countries": [
                "CM"
              ]
            },
            "description": "mtn forfait SMS illimite 24h"
          }
        ]
      }
    ]
  },
  {
    "id": 3,
    "label": "Bill payment",
    "description": "Pay Bills services",
    "services": [
      {
        "id": 9,
        "label": "Electricity Bill",
        "trans": [
          {
            "id": 8,
            "carreer": {
              "id": 1,
              "countries": [
                "CM"
              ]
            },
            "description": "mtn eneo - electricity bill"
          }
        ]
      },
      {
        "id": 10,
        "label": "CNPS Employer",
        "trans": [
          {
            "id": 6,
            "carreer": {
              "id": 1,
              "countries": [
                "CM"
              ]
            },
            "description": "mtn cnps employeur"
          }
        ]
      },
      {
        "id": 11,
        "label": "CNPS voluntary insured",
        "trans": [
          {
            "id": 7,
            "carreer": {
              "id": 1,
              "countries": [
                "CM"
              ]
            },
            "description": "mtn cnps employeur"
          }
        ]
      }
    ]
  },
  {
    "id": 4,
    "label": "Utilities",
    "description": "Utility and complementary services",
    "services": [
      {
        "id": 12,
        "label": "Destockage",
        "trans": [
          {
            "id": 3,
            "carreer": {
              "id": 1,
              "countries": [
                "CM"
              ]
            },
            "description": "Destockage. Remove money to cash from a business account free of fees "
          }
        ]
      }
    ]
  }
]

%}#}
	
 {% set _transactions = transactions %}
{#    {%
        set _transactions = [
            {
            'id': 'TR9842',
            'type': 'Withdraw',
            'amount_sent': '50000',
            'status': 'Complete',
            'account_ref': 'Default',
            'recipient_account_num': 'Default',
            'created_at': '20/06/2020 11:55',
            'date': '03/06/2020',
            'time': '11:55'
            },
            {
            'id': 'TR2513',
            'type': 'Withdraw',
            'amount_sent': '150000',
            'status': 'failed',
            'account_ref': 'Easy School',
            'recipient_account_num': 'Default',
            'created_at': '20/06/2020 15:25',
            'date': '20/06/2020',
            'time': '15:25'
            },
            {
            'id': 'TR2253',
            'type': 'Deposit',
            'amount_sent': '35000',
            'status': 'Processing',
            'account_ref': 'Default',
            'created_at': '20/06/2020 22:03',
            'recipient_account_num': 'Default',
            'date': '30/06/2020',
            'time': '22:03'
            }
        ]
    %} #}

{% extends "base.html.twig" %}

{% block navbar %}
   {% include "body/navbar.html.twig" ignore missing %}
{% endblock %}

{% block sidebar %}
   {% include "body/sidebar.html.twig" ignore missing %}
{% endblock %}

{% block content_header %}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>

          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content_main %}    
    {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <i class="fa fa-exclamation-circle"></i>&nbsp{{ flashError }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>    
    {% endfor %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-warning alert-dismissible  flash-notice">
            <i class="fa fa-exclamation-circle"></i>&nbsp{{ message }}"</a>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endfor %}

    {# read and display several types of flash messages #}
    {% for label, messages in app.flashes(['success']) %}
        {% for message in messages %}                            
            <div class="alert alert-success alert-dismissible">
                <i class="fa fa-exclamation-circle"></i>&nbsp{{ message }} }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endfor %}
    {% endfor %}
	<!-- Main content -->
	<section class="content">

		<div class="container-fluid">
		<!-- Small boxes (Stat box) -->
		<div class="row">
		  <div class="col-lg-4 col-6">
			<!-- small box -->
			<div class="small-box datibox-bg-primary">
			  <div class="inner">
				<h3>{{ _balance }}<sup style="font-size: 20px">{{ _currency }}</sup></h3>
				<p>Balance</p>
			  </div>
			  <div class="icon">
				<i class="fa"><img style="width: 70px;" src="{{ asset('assets/icon/balance_icon.png') }}"></img></i>
			  </div>
			  <a href="#" class="small-box-footer">TopUp Now <i class="fas fa-arrow-circle-down"></i></a>
			</div>
		  </div>
		  <!-- ./col -->
		  <div class="col-lg-4 col-6">
			<!-- small box -->
			<div class="small-box datibox-bg-light">
			  <div class="inner">
				<h3>{{ _deposit_amount }}<sup style="font-size: 20px">{{ _currency }}</sup></h3>

				<p>Deposit</p>
			  </div>
			  <div class="icon">
				<i class="fa"><img style="width: 70px;" src="{{ asset('assets/icon/deposit_icon.png') }}"></img></i>
			  </div>
			  <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
			</div>
		  </div>
		  <!-- ./col -->
		  <div class="col-lg-4 col-6">
			<!-- small box -->
			<div class="small-box datibox-bg-light">
			  <div class="inner">
				<h3>{{ _withdraw_amount }}<sup style="font-size: 20px">{{ _currency }}</sup></h3>

				<p>Withdraw</p>
			  </div>
			  <div class="icon">
				<i class="fa"><img style="width: 70px;" src="{{ asset('assets/icon/withdraw_icon.png') }}"></img></i>
			  </div>
			  <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
			</div>
		  </div>
		</div>
		<!-- /.row -->
		
		<!-- Main row -->
		<div class="row">
		  <!-- Left col -->
		  <div class="col-md-4">
			<!-- PRODUCT LIST -->
			<div class="card">
			  <div class="card-header">
				<h3 class="card-title">My Accounts </h3>


				  <div class="card-tools">
				  <button type="button" class="btn btn-tool" data-card-widget="collapse">
					<i class="fas fa-minus"></i>
				  </button>
				  <button type="button" class="btn btn-tool" data-card-widget="remove">
					<i class="fas fa-times"></i>
				  </button>
				</div>
			  </div>
			  <!-- /.card-header -->
			  <div class="card-body p-0">
				<ul class="products-list product-list-in-card pl-2 pr-2">
				{% for account in _accounts %}
				  <li class="item">
					<div class="product-img">
					  <img src="{{ asset('adminLTE/dist/img/default-150x150.png') }}" alt="Product Image" class="img-size-50">
					</div>
					<div class="product-info">
					  <a id="{{ account.id }}" href="javascript:void(0)" class="product-title">{{ account.name }}
						<span class="badge datibadge-primary float-right">{{ account.balance }}<sup style="font-size: 10px">{{ _currency }}</sup></span></a>
					  <span class="product-description">
						{{ account.description }}
					  </span>
					</div>
				  </li>
				{% endfor %} 
				</ul>
			  </div>
			  <!-- /.card-body -->
              <div class="card-footer text-center">
			    <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Add account</a>
              </div>
			  <!-- /.card-footer -->
			</div>
			<!-- /.card -->		  
		  </div>
		  <!-- /.col -->
		  <!-- Left col -->
		  <div class="col-md-8">
			<!-- TABLE: LATEST ORDERS -->
			<div class="card">
			  <div class="card-header border-transparent">
				<h3 class="card-title">Latest Transactions</h3>

				<div class="card-tools">
				  <button type="button" class="btn btn-tool" data-card-widget="collapse">
					<i class="fas fa-minus"></i>
				  </button>
				  <button type="button" class="btn btn-tool" data-card-widget="remove">
					<i class="fas fa-times"></i>
				  </button>
				</div>
			  </div>
			  <!-- /.card-header -->
			  <div class="card-body p-0">
				<div class="table-responsive">
				  <table class="table m-0 table table-striped">
					<thead>
                    <tr>
					  <th>ID</th>
					  <th>Type</th>
					  <th>Status</th>
					  <th>Sender</th>
					  <th>Receiver</th>
					  <th>Date</th>
                    </tr>
					</thead>
					<tbody>
					{% for transaction in _transactions %}
						<tr>
						  <td><a href="pages/examples/invoice.html">{{ transaction.id }}</a></td>
						  <td>
{% if (transaction.type)|lower == 'withdraw' %}
                  <span class="badge datibadge-dark">Withdraw</span>
                  <small class="datitext-dark mr-1">
                    <i class="fas fa-arrow-up"></i>
                  </small><br>
                  {{ transaction.amount_sent }}<sup style="font-size: 10px">{{ _currency }}</sup></span>                             
      {% elseif (transaction.type)|lower == 'deposit' %}
                  <span class="badge datibadge-primary">Deposit</span>
                  <small class="datitext-primary mr-1">
                      <i class="fas fa-arrow-down"></i>
                  </small><br>
                  {{ transaction.amount_sent }}<sup style="font-size: 10px">{{ _currency }}</sup></span>                              
      {% else %}
                  <span class="badge badge-default">{{ transaction.type }}</span>
                  <small class="text-default mr-1">
                      <i class="far fa-dot-circle"></i>
                  </small><br>
                  {{ transaction.amount_sent }}<sup style="font-size: 10px">{{ _currency }}</sup></span>	
{% endif %}

                    {#
                            {% set loopIndex = loop.index %}
                            {% switch transaction.type %}
								{% case 'withdraw' %}
									<span class="badge badge-warning">Withdraw</span>
									  <small class="text-warning mr-1">
										<i class="fas fa-arrow-up"></i>
									  </small><br>
									  10,000<sup style="font-size: 10px">{{ _currency }}</sup></span>
								{% case 'deposit' %}
									<span class="badge badge-success">Deposit</span>
									  <small class="text-success mr-1">
										<i class="fas fa-arrow-down"></i>
									  </small><br>
									  75,000<sup style="font-size: 10px">{{ _currency }}</sup></span>
								{% default %}
									<span class="badge badge-default">{{ transaction.type }}</span>
									  <small class="text-default mr-1">
										<i class="fas fa-arrow-down"></i>
									  </small><br>
									  75,000<sup style="font-size: 10px">{{ _currency }}</sup></span>		
							{% endswitch %}		
                    #}		

						  </td>
						  <td>{{ transaction.status }}</td>
						  <td>
							<div class="sparkbar" data-color="#00a65a" data-height="20">{{ transaction.account_ref }}</div>
						  </td>
						  <td>
							<div class="sparkbar" data-color="#00a65a" data-height="20">{{ transaction.recipient_account_num }}</div>
						  </td>
						  <td>{{ transaction.created_at|date("d/m/Y h:m") }}</td>
                          {#<td>{{ transaction.date ~" " ~transaction.time }}</td>#}
						</tr>
					{% endfor %}
					</tbody>
				  </table>
				</div>
				<!-- /.table-responsive -->
			  </div>
			  <!-- /.card-body -->
			  <div class="card-footer clearfix">
				<a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All History</a>
			  </div>
			  <!-- /.card-footer -->
			</div>
			<!-- /.card -->
		  </div>
		  <!-- /.col -->

		</div>
		<!-- /.row -->		
		
		<!-- /.row (main row) -->
	  </div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->
{% endblock %}

{% block javascripts %}
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
    $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset('adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- ChartJS -->
    <script src="{{ asset('adminLTE/plugins/chart.js/Chart.min.js') }}"></script>
    <!-- Sparkline -->
    <script src="{{ asset('adminLTE/plugins/sparklines/sparkline.js') }}"></script>
    <!-- JQVMap -->
    <script src="{{ asset('adminLTE/plugins/jqvmap/jquery.vmap.min.js') }}"></script>
    <script src="{{ asset('adminLTE/plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
    <!-- jQuery Knob Chart -->
    <script src="{{ asset('adminLTE/plugins/jquery-knob/jquery.knob.min.js') }}"></script>
    <!-- daterangepicker -->
    <script src="{{ asset('adminLTE/plugins/moment/moment.min.js') }}"></script>
    <script src="{{ asset('adminLTE/plugins/daterangepicker/daterangepicker.js') }}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="{{ asset('adminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
    <!-- Summernote -->
    <script src="{{ asset('adminLTE/plugins/summernote/summernote-bs4.min.js') }}"></script>
    <!-- overlayScrollbars -->
    <script src="{{ asset('adminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('adminLTE/dist/js/adminlte.js') }}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="{{ asset('adminLTE/dist/js/pages/dashboard.js') }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset('adminLTE/dist/js/demo.js') }}"></script>    
{% endblock %}