{% extends "base.html.twig" %}

{# {% set _accounts = user.accounts %} #}
    {%
        set _accounts = [
            {
            'id': 12,
            'name': 'Default',
            'balance': '250000',
            'description': 'The DatiCash Default Account'
            },
            {
            'id': 14,
            'name': 'Easy School',
            'balance': '122000',
            'description': 'My School application account.'
            },
        ] 
    %}

{# {% set _categories = user.services %} #}
    {%
        set _categories = [
            {
            'id': "12",    
            'label': "Transfert d'argent",
            'description' : "",
            'services':[ 
                    {
                    'id': '14',
                    'label': 'Withdraw',
                    'company':'orange',
                    'countries':[
                        {
                            'country_code': "ng",
                        }
                    ],
                    'description': '',
                    'status': '1',
                    },
                    {
                    'id': '15',
                    'label': 'Deposit',
                    'description': '',
                    'status': '1'
                    },
                ]
            },
            {
            'id': "13", 
            'label': "Achat de Credit/Internet",
            'services':[ 
                    {
                    'id': '16',
                    'label': 'Credit de communication',
                    'description': '',
                    'status': '1'
                    },
                    {
                    'id': '18',
                    'label': 'Internet 100 Mo',
                    'description': 'Forfait internet 100 Mo valable 24 Heures',
                    'status': '1'
                    },
                    {
                    'id': '19',
                    'label': 'Internet 1.8 Go',
                    'description': 'Forfait internet 1.8 Go valable 7 jours',
                    'status': '1'
                    },
                ]
            },
            {
            'id': "14", 
            'label': "Paiement de factures",
            'services': [
                    {
                    'id': '20',
                    'label': 'ENEO',
                    'description': '',
                    'status': '1'
                    },
                    {
                    'id': '21',
                    'label': 'CANAL+',
                    'description': '',
                    'status': '1'
                    },
                    {
                    'id': '22',
                    'label': 'CAMWATER',
                    'description': 'Forfait internet 100 Mo valable 24 Heures',
                    'status': '1'
                    },
                    {
                    'id': '23',
                    'label': 'IMPOTS',
                    'description': 'Forfait internet 1.8 Go valable 7 jours',
                    'status': '1'
                    },
                ]
            },
            {
            'id': "15", 
            'label': "Achat de Service/Produit",
            'services': [
                    {
                    'id': '24',
                    'label': 'Assurance',
                    'description': '',
                    'status': '1'
                    },
                    {
                    'id': '25',
                    'label': 'Bouquet TV',
                    'description': '',
                    'status': '1'
                    },
                    {
                    'id': '26',
                    'label': 'Frais Scolaire',
                    'description': '',
                    'status': '1'
                    }
                ]
            },
        ]
    %}  

{% block stylesheets %}
            <!-- Font Awesome -->
            <link rel="stylesheet" href="{{ asset('adminLTE/plugins/fontawesome-free/css/all.min.css') }}">
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('adminLTE/dist/css/adminlte.min.css') }}">
            <!-- Google Font: Source Sans Pro -->
            <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">	
            <!-- International Telephone Input -->
            <link href="{{ asset('assets/css/intlTelInput/intlTelInput.css') }}" rel="stylesheet">
            <!-- Sweet alert stylesheet-->
            <link href="{{ asset('assets/js/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet">

            <style>
                .body_mask:before{
                    margin: 0;
                    padding: 0;
                }

                .body_mask:before{
                    content:'';
                    position:fixed;
                    top:0;
                    left:0;
                    width:100vw;
                    height:100vh;
                    background-image: url(../img/girl2.jpg);
                    background-position:center center;
                    background-repeat:no-repeat;
                    background-attachment:fixed;
                    -webkit-background-size:cover;
                    background-size:cover;
                /* 	-webkit-filter:blur(10px);
                    -moz-filter:blur(10px); */
                    z-index: 9999999;
                }

                .body_card_daticash_login{
                    background-color: rgba(255, 255, 255, 0.74);
                    border-style: solid;
                    border-width: 1px 1px 1px 1px;
                    border-color: #000000;
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
                    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
                    margin: 0px 0px 0px 0px;
                }

                .body_card_daticash_quick_sent{
                    background-color: rgba(255, 255, 255, 0.74);
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
                    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
                    margin: 0px 0px 0px 0px;
                }

                .daticash_btn{
                    font-family: "century-gothic_content", century gothic;
                    font-size: 23px;
                    border-style: solid;
                    border-width: 1px 1px 1px 1px;
                    border-radius: 88px 88px 88px 88px;
                    padding: 10px 10px 10px 10px;
                    margin-bottom: 12px;
                }

                .btn-daticash {
                    color: #fff;
                    background-color: #0A4F68;
                    border-color: rgba(0, 0, 0, 0);
                    box-shadow: none;
                }

                .btn-daticash:hover {
                    color: #fff;
                    background-color: #0A4F68;
                    border-color: rgba(0, 0, 0, 0);
                }

                .dati_popup{
                        transition: transform .3s ease-out;
                        -moz-transition: all 0.9s ease 0s;
                        -webkit-transition: all 0.9s ease 0s;
                        -o-transition: all 0.9s ease 0s;    
                        visibility: visible;
                        animation-duration: 1000ms;
                        animation-delay: 1000ms;
                        
                }
            </style>

{% endblock %}

{% block head_javascripts %}
            <!-- Sweet alert scripts-->
            <script src="{{ asset('assets/js/sweetalert2/sweetalert2.all.min.js') }}"></script>	
            <script src="{{ asset('assets/js/sweetalert2/sweetalert2.min.js') }}"></script>

{% endblock %}

{% block navbar %}
   {% include "body/navbar.html.twig" ignore missing %}
{% endblock %}

{% block sidebar %}
   {% include "body/sidebar.html.twig" ignore missing %}
{% endblock %}

{% block content_header %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Operation</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('dashboard.index') }}">Home</a></li>
              <li class="breadcrumb-item active">Operation</li>
                {% for categorie in _categories %}
                    {% for service in categorie.services %}
                        {% if app.request.get('sid') is defined and app.request.get('sid') == service.id %} 
                            <li class="breadcrumb-item active">{{  service.label  }}</li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}              
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}
                
{% block content_main %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-2"></div>




                <div class="col-md-8">

                    <div class="card bg-light body_card_daticash_quick_sent" style="padding: 0; margin:10px;" >
                        <div class="card-header d-flex justify-content-between" style="align-items: center;">
                            <div class="col-md-6">
                                <select class="swal2-select" style="display: flex;" name="operation_type" id="operation_type">
                                    <option value="" disabled="">Select Operation Type</option>                    
                                    {% for categorie in _categories %}
                                        <optgroup label="{{ categorie.label }}">
                                        {% for service in categorie.services %}
                                            <option value="{{  service.id  }}" {% if app.request.get('sid') is defined and app.request.get('sid') == service.id %}selected{% endif %}>{{  service.label  }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-6">
                                <select class="swal2-select" style="display: flex;" name="account_ref" id="account_ref">
                                    <option value="" disabled="">Select Account Reference</option>
                                    <optgroup label="Daticash Account">
                                    {% for categorie in _categories %}
                                        {% for service in categorie.services %}
                                            {% if app.request.get('sid') is defined and app.request.get('sid') == service.id and (service.label)|lower is not same as('deposit') %}
                                                <option value="" selected >Default</option>
                                            {% endif %}
            
                                            {% if app.request.get('sid') is defined and app.request.get('sid') == service.id and (service.label)|lower == 'deposit' %}
                                                {% for account in _accounts %}
                                                    <option value="{{  account.id  }}">{{  account.name  }}</option>
                                                {% endfor %}  
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}         
                                    </optgroup>
                                    {% for categorie in _categories %}
                                        {% for service in categorie.services %}
                                            {% if app.request.get('sid') is defined and app.request.get('sid') == service.id and ((service.label)|lower == 'withdraw' or (service.label)|lower == 'deposit') %}
                                            <optgroup label="Other Account">
                                                <option value="mobilemoney">Mobile Money</option>
                                                <option value="creditcard">Credit Card</option>
                                                <option value="bankaccount">Bank Account</option>
                                                <option value="paypal">Paypal</option>
                                            </optgroup>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    
                                </select>  
                            </div>                              
                        </div>
                    </div>
                        
                    <div class="card bg-light body_card_daticash_quick_sent" style="padding: 0; margin:10px;" >
                        <div class="card-header d-flex justify-content-between" style="align-items: center;">
                            <h3 class="card-title" style="margin: 1rem auto 1rem; align-self: center;">Send To&nbsp;&nbsp;<span id="country_name"></span></h3>
                            <p id="country_img"></p>
                            <div class="send-feedback m-2" style="position: absolute;width: 93%;"></div>
						</div>

                        <div class="card-body login-card-body" style="background-color: rgba(255, 255, 255, 0);">
                            <small id="allow_reset-feedback"></small>
                            <form class="form" method="post" style="margin: auto;" action="http://api.daticash.com/api/mobilemoney/new">
                                <input type="hidden" name="type" id="type" value="withdraw">
                                <input type="hidden" name="imput_account_ref" id="imput_account_ref" value="default">
                                <input type="hidden" name="mode" id="mode" value="mobilemoney">

                                <p class="waiting_text"></p>
                                <div class="row">				
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sender_phone">
                                        <label for="sender_phone" style="width: 100%; margin-bottom: .5rem;">
                                            <font style="vertical-align: inherit;">Sender Phone&nbsp</font>
                                            <small id="sender_phone-feedback" style="display: block;"></small>											
                                        </label>
                                            <input type="hidden" name="sender_country_code" id="sender_country_code" value="{{ app.user.countryCode  }}">
                                            <input type="tel" name="sender_phone" id="sender_phone" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    <div class="form-group form-group-recipient_phone">
                                        <label for="recipient_phone" style="width: 100%; margin-bottom: .5rem;">
                                            <font style="vertical-align: inherit;">Recipient Phone&nbsp</font>
                                            <small id="recipient_phone-feedback" style="display: block;"></small>											
                                        </label>							
                                        <input type="hidden" name="recipient_country_code" id="recipient_country_code" value="237">
                                        <input type="text" name="recipient_phone" id="recipient_phone" class="form-control">
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group ">
                                            <label for="amount_sent" style="width: 100%; margin-bottom: .5rem;">
                                                <font style="vertical-align: inherit;">Send Amount&nbsp <sapn id="currency_sent_txt">(USD)</sapn></font>
                                                <small id="amount_sent-feedback" style="display: block;"></small>											
                                            </label>
                                            <input type="text" name="amount_sent" id="amount_sent" class="form-control sent" value="">
                                            <input type="hidden" name="currency_sent" id="currency_sent" value="USD">
                                        </div>
                                    </div>						  
                                    <div class="col-md-2" id="div_wait_convertion">
                                        <span id="span_wait_convertion" style="text-align: -webkit-center; align-items: center;"></span>
                                        <img id="mannuel_convert" src="{{ asset('assets/img/fleches.png') }}" style="position: relative;width: 70px; cursor: pointer;" /> 
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="amount_received" style="width: 100%; margin-bottom: .5rem;">
                                                <font style="vertical-align: inherit;">Receive Amount&nbsp <sapn id="currency_received_txt">(XAF)</sapn></font>
                                                <small id="amount_received-feedback" style="display: block;"></small>											
                                            </label>
                                            <input type="text" name="amount_received" id="amount_received" class="form-control receive" value="100">
                                            <input type="hidden" name="currency_received" id="currency_received" value="XAF">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <label for="imput_reason">What is the reason for the transfer ? (optional)</label>
                                            <input type="text" name="imput_reason" id="imput_reason" class="form-control sent" maxlength="30" placeholder="This message will be sent to the receiver">							  						
                                        </div>
                                    </div>	
                                </div>
                                <div class="card mt-2 mb-2">
                                    <div class="card-body p-1 m-0 font-weight-bold">
                                        <div class="float-left">Send Amount</div>
                                        <div class="float-right"><span id="span_amount_sent_currency">$</span>&nbsp;<span id="span_amount_sent">0.0</span></div>
                                    </div>
                                    <div class="card-body p-1 m-0 font-weight-bold">
                                        <div class="float-left">Fees</div>
                                        <input type="hidden" name="fees" id="fees" value="0.0">
                                    <div class="float-right"><span id="span_fees_currency">$</span>&nbsp;<span id="span_fees">0.0</span></div>
                                    </div>
                                    <div class="card-body m-0 p-1 font-weight-bold">
                                        <div class="float-left">Total Pay:</div>
                                        <input type="hidden" name="total_pay" id="total_pay" value="0.0">	
                                    <div class="float-right"><span id="span_total_pay_currency">$</span>&nbsp;<span id="span_total_pay">0.0</span></div>
                                    </div>
                                    <div class="card-body m-0 p-1 font-weight-bold">
                                        <div class="float-left">Your Recipient Gets</div>
                                        <div class="float-right"><span id="span_amount_received_currency">$</span>&nbsp;<span id="span_amount_received">0.0</span></div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-2">											
                                    <button type="button" class="daticash_btn btn-daticash btn-block sendBtn" style="background-color:#1B5368">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>            


                </div>




                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}

            <!-- Waves Effect Plugin Js -->
            <script src="{{ asset('adminLTE/plugins/node-waves/waves.js') }}"></script>
            <!-- AdminLTE App -->
            <script src="{{ asset('adminLTE/dist/js/adminlte.js') }}"></script>
            <!-- AdminLTE for demo purposes -->
            <script src="{{ asset('adminLTE/dist/js/demo.js') }}"></script> 
            <!-- International Telephone Input-->	
            <script src="{{ asset('assets/js/intlTelInput/intlTelInput.js') }}"></script>
            <!-- Daticash QS-->	
            <script src="{{ asset('assets/js/daticashQS.js') }}"></script>

            <script>
				var input_sender_phone = document.querySelector("#sender_phone");		
				var input_recipient_phone = document.querySelector("#recipient_phone");
				
				var sender_phone_feedback = document.querySelector("#sender_phone-feedback");
				var recipient_phone_feedback = document.querySelector("#recipient_phone-feedback");
				
				// initialise plugin
				var iti_sender_phone = window.intlTelInput(input_sender_phone, {
					// allowDropdown: false,
					// autoHideDialCode: false,
					// autoPlaceholder: "off",
					// dropdownContainer: document.body,
					// excludeCountries: ["us"],
					// formatOnDisplay: false,
					// geoIpLookup: function(callback) {
					//   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
					//     var countryCode = (resp && resp.country) ? resp.country : "";
					//     callback(countryCode);
					//   });
					// },
					// hiddenInput: "full_number",
					// initialCountry: "auto",
					// localizedCountries: { 'de': 'Deutschland' },
					nationalMode: true,
					// onlyCountries: ["cm", "ng", "eg", "ci", "sn"],
					// placeholderNumberType: "MOBILE",
					// preferredCountries: ['cn', 'jp'],
					separateDialCode: true,
					utilsScript: "{{ absolute_url(asset("assets/js/intlTelInput/utils.js")) }}",				
				});
				
				// initialise plugin
				var iti_recipient_phone = window.intlTelInput(input_recipient_phone, {
					// allowDropdown: false,
					// autoHideDialCode: false,
					// autoPlaceholder: "off",
					// dropdownContainer: document.body,
					// excludeCountries: ["us"],
					// formatOnDisplay: false,
					// geoIpLookup: function(callback) {
					//   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
					//     var countryCode = (resp && resp.country) ? resp.country : "";
					//     callback(countryCode);
					//   });
					// },
					// hiddenInput: "full_number",
					// initialCountry: "auto",
					// localizedCountries: { 'de': 'Deutschland' },
					// nationalMode: false,
					onlyCountries: ["cm", "ng", "eg", "ci", "sn"],
					// placeholderNumberType: "MOBILE",
					// preferredCountries: ['cn', 'jp'],
					separateDialCode: true,
					utilsScript: "{{ absolute_url(asset("assets/js/intlTelInput/utils.js")) }}",
				});
				
			var handleChange_input_sender_phone = function() {
				//impose the numeric characters
				var value = jQuery(this).val();
				value = value.replace(/[^0-9]+/g, "");
				jQuery(this).val(value);		
				
			  //show message if incorrect phone number	
			  var text = (iti_sender_phone.isValidNumber()) ? iti_sender_phone.getNumber() + " ✓ Valid": "Please enter a valid Sender Phone Number below";
			  var textNode = document.createTextNode(text);
			  sender_phone_feedback.innerHTML = "";
			  sender_phone_feedback.appendChild(textNode);
			  
				  /* change style color*/
				  if(iti_sender_phone.isValidNumber()){
					$("#sender_phone-feedback").attr("class","text-success");
					$("#sender_phone").removeClass("error").addClass("success");
				  }else{
					$("#sender_phone-feedback").attr("class","text-danger");		  
					$("#sender_phone").removeClass("success").addClass("error");
				  } 	
			
			};	
			
			var handleChange_input_recipient_phone = function() {
				//impose the numeric characters
				var value = jQuery(this).val();
				value = value.replace(/[^0-9]+/g, "");
				jQuery(this).val(value);		
				
			  //show message if incorrect phone number	
			  var text = (iti_recipient_phone.isValidNumber()) ? iti_recipient_phone.getNumber() + " ✓ Valid": "Please enter a valid Phone Number below";
			  var textNode = document.createTextNode(text);
			  recipient_phone_feedback.innerHTML = "";
			  recipient_phone_feedback.appendChild(textNode);
			  
				  /* change style color*/
				  if(iti_recipient_phone.isValidNumber()){
					$("#recipient_phone-feedback").attr("class","text-success");
					$("#recipient_phone").removeClass("error").addClass("success");
				  }else{
					$("#recipient_phone-feedback").attr("class","text-danger");		  
					$("#recipient_phone").removeClass("success").addClass("error");
				  } 	
			
			};	


			// listen to "keyup", but also "change" to update when the user selects a country
			input_sender_phone.addEventListener("change", handleChange_input_sender_phone);
			input_sender_phone.addEventListener("keyup", handleChange_input_sender_phone);
			
			input_recipient_phone.addEventListener("change", handleChange_input_recipient_phone);
			input_recipient_phone.addEventListener("keyup", handleChange_input_recipient_phone);	

			$("body")
				.on("focus", "input", ".login-form input, .login-form textarea" , function() {
					//$("#pin_code-feedback").empty();
					$("#password-feedback").empty();
					$("#username-feedback").empty();
					$("#email-feedback").empty();
					$(".send-feedback").empty();
					
				// daticash reset or change pin	
					$("#amount_sent-feedback").empty();
				})
				.on("keyup", "#amount_sent", function(event){
	
						event.stopImmediatePropagation();
					var value = jQuery(this).val();
					value = value.replace(/[^0-9]+/g, "");
					jQuery(this).val(value);
				})	
				.on("keyup", "#amount_received", function(event){
	
						event.stopImmediatePropagation();
					var value = jQuery(this).val();
					value = value.replace(/[^0-9]+/g, "");
					jQuery(this).val(value);
				});		
			</script>


			<script>
				$(document).ready(function() {
					processConvert();

					$("#amount_sent,#amount_received,#currency_received,#currency_sent").change(function(e) {
					  e.stopImmediatePropagation;
					  let _this = $(this);
					  let amount_sent = _this.hasClass("sent") ? $("#amount_sent").val() : "";
					  let amount_received = _this.hasClass("receive") ? $("#amount_received").val() : "";
					  
					  let currency_sent = jQuery("#currency_sent").val();
					  let currency_received = jQuery("#currency_received").val();
					  
						update(amount_sent, amount_received, currency_sent, currency_received);
					})

					$("body")
							.on("click", "#mannuel_convert", function(e){
							  processConvert();
							})
							.on("click", ".iti__country", function(e){
                                
								  $("#mannuel_convert").trigger("click");							
	
							})
                            
					function processConvert(){
					  let _this = $(this);
					  let amount_sent = "";
					  let amount_received = $("#amount_received").val();
					  
					  let currency_sent = $("#currency_sent").val();
					  let currency_received = $("#currency_received").val();

					  update(amount_sent, amount_received, currency_sent, currency_received);						
					}
					function update(amount_sent, amount_received, currency_sent, currency_received){
					  let socketclienttype = "DATICASH_CLIENT";
					  let type = "convert";
					  $("#mannuel_convert").remove();
					  $("#span_wait_convertion").html('<img id="mannuel_convert" src="{{ asset("assets/img/loader-status.gif") }}" style="position: relative;width: 70px; cursor: pointer;" />');
					  
					  $.ajax({
						url: "{{ asset('assets/classes/action.php') }}",
						dataType: "JSON",
						method: "POST",
						data:{"action": "convert", "currency_sent": currency_sent, "currency_received":currency_received, "amount_sent": amount_sent, "amount_received":amount_received},
						success:function(response){
							if(response.match === true){
	/* 							alert("response.details.amount_received = "+response.details.amount_received)
								alert("response.details.amount_sent = "+response.details.amount_sent)
								alert("response.details.fees = "+response.details.fees)
								alert("esponse.details.currency_sent = "+esponse.details.currency_sent)
								alert("response.details.currency_received = "+response.details.currency_received)
								alert("response.details.total_pay = "+response.details.total_pay)
								alert("response.details.get = "+response.details.amount_received) */
								
								//text values
								$("#span_amount_received").empty().text(response.details.amount_received).trigger("blur");
								$("#span_amount_received_currency").empty().text(response.details.currency_received)
								
								$("#span_amount_sent").empty().text(response.details.amount_sent).trigger("blur");
								$("#span_amount_sent_currency").empty().text(response.details.currency_sent)
								
								$("#span_fees").empty().text(response.details.fees)
								$("#span_fees_currency").text(response.details.currency_sent)	
								
								$("#span_total_pay").empty().text(response.details.total_pay).trigger("blur")
								$("#span_total_pay_currency").empty().text(response.details.currency_sent)
								
								//imput values
								$("#amount_received").empty().val(response.details.amount_received)
								$("#amount_sent").empty().val(response.details.amount_sent)
								$("#total_pay").empty().val(response.details.total_pay)
								$("#fees").empty().val(response.details.fees)
								
								$("#span_wait_convertion").empty();
								$("#mannuel_convert").remove();								
								$("#div_wait_convertion").append('<img id="mannuel_convert" src="{{ asset("assets/img/fleches.png") }}" style="position: relative;width: 70px; cursor: pointer;" />');
													
									
							}else{
								$(".send-feedback").html('<div class="alert alert-danger text-center">'+response.details+'</div>');
								$("#span_wait_convertion").empty();
								$("#mannuel_convert").remove();
								$("#div_wait_convertion").append('<img id="mannuel_convert" src="{{ asset("assets/img/fleches.png") }}" style="position: relative;width: 70px; cursor: pointer;" />');
																			
							
							}
						},
						
						error:function(){
							alert("error: convert, please contact the Administrator")			
						}
					  })
					}
				})
			</script>

            <script>
			$(document).ready(function() {			
				$(".sendBtn").on("click", function(e) {
					e.preventDefault();	
	
				  let action = "init_mobilemoney_transaction";
				  let type = "deposit";
				  let account_ref = $("#imput_account_ref").val();
				  let amount_sent = $("#amount_sent").val();
				  let currency_sent = $("#currency_sent").val();
				  let recipient_phone = $("#recipient_phone").val();
				  let recipient_country_code = $(".form-group-recipient_phone #countryCode").val();
				  let sender_phone = $("#sender_phone").val();
				  let sender_country_code = $(".form-group-sender_phone #countryCode").val();
				  let reason = $("#imput_reason").val();

/* 				  let currency_received = $("#currency_received").val();
				  let amount_received = $("#amount_received").val();
				  let total_pay = $("#total_pay").text();
				  let fees = $("#fees").text();
				  let mode = "mobilemoney";//$("#mode").val() 
  			
			alert(action);
			alert(type);
			alert(account_ref);
			alert(amount_sent);
			alert(currency_sent);
			alert(recipient_phone);
			alert(recipient_country_code);
			alert(sender_phone);
			alert(sender_country_code);
			alert(reason);
			alert(iti_sender_phone.isValidNumber());

			alert(currency_received);
			alert(amount_received);
			alert(total_pay);
			alert(fees);
			alert(mode);

 */
		
						if (amount_sent > 0 && iti_sender_phone.isValidNumber() === true && iti_recipient_phone.isValidNumber() === true ) {
							$(".sendBtn").text("Processing...").prop("disabled", true);			

								var sub_request = {
									withdraw:{
										"action":"withdraw", 
										"type":type, 
										"account_ref":account_ref, 
										"amount_sent":amount_sent,
										"currency_sent":currency_sent,
										"recipient_phone":recipient_phone,
										"recipient_country_code":recipient_country_code, 								
										"sender_phone":sender_phone,
										"sender_country_code":sender_country_code, 
										"reason":reason, 							
									}
								};
												
							  $.ajax({
								url: "https://api.daticash.com/api/mobilemoney/new",
								dataType: "JSON",
								method: "POST",
								data:{
										"action":action, 
										"type":type, 
										"account_ref":account_ref, 
										"amount_sent":amount_sent,
										"currency_sent":currency_sent,
										"recipient_phone":recipient_phone,
										"recipient_country_code":recipient_country_code, 								
										"sender_phone":sender_phone,
										"sender_country_code":sender_country_code, 
										"reason":reason,
								},
								success:function(response){
									if(undefined !== response){
									switch(response.code) {
										case "201"://Action successfully
												Swal.fire(
												  "Complete!",
												  "Your transaction Successfully Completed.",
												  "success"
												)
											break;
											
										case "400"://BAD_REQUEST
												Swal.fire(
												  "ERROR!",
												  "Something is wrong with the request, possibly missing or improperly formatted parameters",
												  "error"
												)
											break;
											
										case "404"://ACCOUNT-NON-EXISTENT
												var href = "https://api.daticash.com/login?type=register&sub_request=" + sub_request;
												window.location = href;										
											break;	
											
										case "409"://SUBACCOUNT-MULTIPLE-CHOICES							
												Swal.fire({
												  title: "Select field validation",
												  input: "select",
												  inputOptions: {
													"Fruits": {
													  apples: "Apples",
													  bananas: "Bananas",
													  grapes: "Grapes",
													  oranges: "Oranges"
													},
													"Vegetables": {
													  potato: "Potato",
													  broccoli: "Broccoli",
													  carrot: "Carrot"
													},
													"icecream": "Ice cream"
												  },
												  inputPlaceholder: "Select a fruit",
												  showCancelButton: true,
												  inputValidator: (value) => {
													return new Promise((resolve) => {
													  if (value === "oranges") {
														Swal.fire(`You selected: ${value}`)
													  } else {
														resolve("You need to select oranges :)")
													  }
													})
												  }
												})										
											break;	
											
										case "412"://CONFIRM-TOKEN-FORM 								
												var href = "https://api.daticash.com/login?type=confirm-token-form&user_id="+response.user_id+"&email="+response.email+"&sub_request=" + sub_request;
												window.location = href;												
											break;
											
										case "422"://SERVICE-NOT-AVAILABLE							
												Swal.fire(
												  "Deleted!",
												  "Service not available.",
												  "error"
												)
											break;
											
										case ""://CONFIRM-PIN-CODE
												let currency_sent = response.currency_sent;
												let amount_sent = response.amount_sent;
												let recipient_phone = response.recipient_phone;
												let recipient_username = response.recipient_username;
												
												Swal.fire({
												  title: "Confirm Transaction!",
												  text: "Vous etes sur le point d\'effectuer une transaction de "+amount_sent+" "+currency_sent+" vers le "+recipient_phone+"("+recipient_username+"). entrer votre PIN pour confirmer la transaction:",
												  input: "password",
													//closeOnConfirm: true,
													inputPlaceholder: "Your PIN Code",				  
												  inputAttributes: {
													autocapitalize: "off"
												  },
												  showCancelButton: false,				  
												  showLoaderOnConfirm: true,
												  focusConfirm: false,
												  confirmButtonText:'<i class="fa fa-thumbs-up"></i> Confirm',
												  confirmButtonAriaLabel: "Thumbs up, great!",
												  cancelButtonText:'<i class="fa fa-thumbs-down"></i>',
												  cancelButtonAriaLabel: "Thumbs down",				  
												  preConfirm: (password) => {
													return fetch(`//api.github.com/users/${password}`)//confirm-password url
													  .then(response => {
														if (!response.ok) {
														  throw new Error(response.statusText)
														}
														return response.json()
													  })
													  .catch(error => {
														Swal.showValidationMessage(
														  `Request failed: ${error}`
														)
													  })
												  },
												  allowOutsideClick: () => !Swal.isLoading()
												}).then((result) => {
													if (result.value) {
														let transaction_id = result.value.id
														let status						
														let timerInterval						
														Swal.fire({
														  title: "Traitement en cour",
														  html: "STATUS : <b class=\"status_js\">Mise à jour de l\'historique de la transaction.</b>.",
														  icon: "info",
														  timer: 10000,
														  timerProgressBar: true,
														  onBeforeOpen: () => {
															Swal.showLoading()
															timerInterval = setInterval(() => {
																return fetch(`https://api.daticash.com/api/mobilemoney/${transaction_id}`, {"headers": {"apikey": "sec_5ed93806dd2ca"}})//confirm-password url
																  .then(
																	function(response) {
																		console.log(response);
																	  if (!response.ok) {
																	  // Examine the text in the response
																		  response.json().then(function(data) {
																			 status = data.message
																			console.log(data.message);
																		})
																	  }else{
																		  // Examine the text in the response
																		  response.json().then(function(data) {
																			 status = data.step_description
																			console.log(data.step_description);
																		  });
																	  }
																	  
																	  const content = Swal.getContent()
																	  if (content) {
																		const b = content.querySelector(".status_js")
																		if (b) {
																		  b.textContent = status
																		}
																	  }							  
																	}
																  )
																  .catch(function(err) {
																	console.log("Fetch Error :-S", err);
																  });			  

															}, 1000);							
														  },						  
														  showLoaderOnConfirm: true,
														  onClose: () => {
															clearInterval(timerInterval)
															Swal.fire(
															  "Aborded!",
															  "Your session has been closed. But your transaction take too time...",
															  "info"
															)							
														  }						  
														}).then((result) => {
														  // Read more about handling dismissals below 
														  if (result.dismiss === Swal.DismissReason.timer) {
															console.log("I was closed by the timer")
															Swal.fire({
															  title: "<strong>STATUS TRANSACTION</strong>",
															  icon: "info",
															  html:
																"Was closed by the timer. Your transaction <b>take too time</b>, go to your " +
																"<a href=\"//daticash.com/dashborad\" target=\"_blank\">dashborad</a> " +
																"to check manually this transaction status",
															  showCloseButton: true,
															  showCancelButton: false,
															  focusConfirm: false,
															  confirmButtonText:"OK",
															})														
														  }
														})	

													}
												})									
											break;
											
										default :
										
									}										
										
										
										
										
		
									}else{
										if(response.details === "transaction-initiated"){
											
										}else{
											$(".send-feedback").html('<div class="alert alert-danger text-center">'+response.details+'</div>');
											$(".sendBtn").text("Send").prop("disabled", false);																
										}
									}
								},
								error:function(){
									alert("error: process transaction failed, please try again or contact the Administrator if this persit");
									$(".sendBtn").text("Send").prop("disabled", false);
								}
							  });
						}else{
							$(".sendBtn").text("Send").prop("disabled", false);
							
							if(amount_sent <= 0){
								$("#amount_sent-feedback").html('<div class="text-danger">Please enter a valid amount to send</div>');
							}
							
							if(!iti_sender_phone.isValidNumber()){
								$("#sender_phone-feedback").html('<div class="text-danger">Please enter a valid Phone Number below</div>');
							}
							
							if(!iti_recipient_phone.isValidNumber()){
								$("#recipient_phone-feedback").html('<div class="text-danger">Please enter a valid Phone Number below</div>');
							}	
													
						} 
				  
				  
				})	
			})				
			</script>
            
{% endblock %}