{% set _locale = 'fr' %}

<!DOCTYPE html>
<html lang="{{ _locale }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}DatiCash - {% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     
        {% block stylesheets %}
            <!-- Font Awesome -->
            <link rel="stylesheet" href="{{ asset('adminLTE/plugins/fontawesome-free/css/all.min.css') }}">
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <!-- Tempusdominus Bbootstrap 4 -->
            <link rel="stylesheet" href="{{ asset('adminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }} ">
            <!-- iCheck -->
            <link rel="stylesheet" href="{{ asset('adminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
            <!-- JQVMap -->
            <link rel="stylesheet" href="{{ asset('adminLTE/plugins/jqvmap/jqvmap.min.css') }}">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('adminLTE/dist/css/adminlte.min.css') }}">
            <!-- overlayScrollbars -->
            <link rel="stylesheet" href="{{ asset('adminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
            <!-- Daterange picker -->
            <link rel="stylesheet" href="{{ asset('adminLTE/plugins/daterangepicker/daterangepicker.css') }}">
            <!-- summernote -->
            <link rel="stylesheet" href="{{ asset('adminLTE/plugins/summernote/summernote-bs4.css') }}">
            <!-- Google Font: Source Sans Pro -->
            <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">		

        {% endblock %}
        <style>
            .sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
                background-color: #84A8AC;
                color: #fff;
            }

            [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
                background-color: rgba(132, 168, 168, 0.4);
                color: #fefeff;
            }

            [class*=sidebar-dark-] {
                background-color: #1F4051;
            }

            .datibox-bg-light {
                background-color: #84A8AC!important;
            }
            .datibox-bg-light, .datibox-bg-light>a {
                color: #fff!important;
            }
            
            .datibox-bg-dark {
                background-color: #84A8AC!important;
            }
            .datibox-bg-dark, .datibox-bg-dark>a {
                color: #fff!important;
            }
            
            .datibox-bg-primary {
                background-color: #2C6FB7!important;
            }
            .datibox-bg-primary, .datibox-bg-primary>a {
                color: #fff!important;
            }

            a {
                color: #1f4051;
                text-decoration: none;
                background-color: transparent;
            }

            a:hover {
                color: #2C6FB7;
                text-decoration: none;
            }

            .datibadge-primary {
                color: #fff;
                background-color: #2C6FB7;
            }

            .datibadge-dark {
                color: #fff;
                background-color: #1F4051;
            }
            .datitext-primary {
                color: #2C6FB7!important;
            }
            .datitext-dark {
                color: #1F4051!important;
            }
            .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
                color: #343a40;
                background-color: #f4f6f9;
            }
            .card-primary:not(.card-outline)>.card-header, .card-primary:not(.card-outline)>.card-header a {
                color: #343a40;
            }
            .card-primary:not(.card-outline)>.card-header {
                background-color: #f4f6f9;
            }
            .card-primary.card-outline {
                border-top: 3px solid #1f4051;
            }
            .pin-block .pincode_label {
                font-size: 16px;
                font-weight: 600;
                margin-top: -1px;
                display: block;
            }
            .pin-block .description {
                color: #6c757d;
                font-size: 13px;
                margin-top: -3px;
                display: block;
            } 
            .profile-user-label {
                color: #1f4051;
                text-decoration: none;
                background-color: transparent;
                cursor: pointer;
            }
            .profile-user-label:hover {
                color: #2C6FB7;
            }
            
            /*upload profile*/
            .profile input[type='file']{
                position: absolute;
                margin-top: 3px;
                margin-left: 3px;
                height: 1px;
                width: 1px;
                z-index: -5;
            }
            .products-list .account-name {
                font-weight: 600;
            }
            
            .swal2-container {
                z-index: 9999999;
            }
        </style>
        {% block head_javascripts %}{% endblock %}
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
    {% block body %}
        <div class="wrapper">
            <!-- Navbar -->
            {% block navbar %}{% endblock %}
            <!-- /.navbar --> 

            <!-- Main Sidebar Container -->
            {% block sidebar %}{% endblock %}
            <!-- /.sidebar --> 
        
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">

                <!-- Content Header (Page header) -->
                {% block content_header %}{% endblock %}
                <!-- /.content-header -->

                <!-- Main content -->
                {% block content_main %}{% endblock %}
                <!-- /.content -->	

            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <strong>Copyright &copy; 2019-2020 <a href="https://daticash.com">DatiCash System</a>.</strong>
                All rights reserved.
                <div class="float-right d-none d-sm-inline-block">
                    <b>Version</b> 1.0.0
                </div>
            </footer>	
        </div>
        <!-- ./wrapper -->
    {% endblock body %}

        <!-- jQuery -->
        <script src="{{ asset('adminLTE/plugins/jquery/jquery.min.js') }}"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="{{ asset('adminLTE/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
            
        {% block javascripts %}{% endblock %}
            
        {% block topup_and_sweetalert %}

        {% endblock %}

    </body>
</html>
